@inject IConfiguration _config

@using Headlight.AppCode;

@{
    bool hideNavBar = (bool)(ViewData["HideNavBar"] ?? false);
    string returnText = hideNavBar ? "Go Back" : "Index";
    Layout = "_BaseLayout";
}

<div class="main-container">
    <div class="page-title container">
        <header class="header">
            <h2>@ViewData["PageTitle"]</h2>
        </header>
    </div>
    <div class="app container">
        <div class="navbar container">
            <aside>
                <nav>
                    <ul>
                        <li>
                            <a asp-page="/Index">@returnText</a>
                        </li>
                        @if (!hideNavBar)
                        {
                            <li><a asp-page="/Games/Index">Games</a></li>
                            <li><a asp-page="/Platforms/Index">Platforms</a></li>
                            <li><a asp-page="/Statuses/Index">Statuses</a></li>
                            <li><a asp-page="/Settings/ImportData">Import Data</a></li>
                            <li><a asp-page="/Settings/ExportData">Export Data</a></li>
                            <li><a asp-page="/Settings/DeleteAll">Delete All</a></li>
                        }
                    </ul>
                </nav>
            </aside>
            @if (hideNavBar)
            {
                @await RenderSectionAsync("navbar", required: false)
            }
        </div>
        <div class="page container">
            <main role="main" class="render-body-container">
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                @RenderBody()
            </main>
        </div>
    </div>
    <div id="mainFooter" class="main-footer">
        <span><a href="https://github.com/vladventura">@@vladventura</a></span>
        <span id="version">v@_config["AppVersion"]</span>
    </div>
</div>


<script src="~/js/updateCheck.js"></script>
