@page "/Platforms/{platformId:int}/Delete"
@model Headlight.Pages.Platforms.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

@if (Model.SelectedPlatform != null)
{
    <hgroup>
        <h1>Deleting @Model.SelectedPlatform?.Name</h1>
        <p>Are you sure you want to delete this platform?</p>
    </hgroup>
    <hr />
    <form method="post">
        <div class="container">
            <button asp-page-handler="ConfirmDelete">Delete</button>
            <button asp-page-handler="CancelChanges">Cancel</button>
        </div>
    </form>
}
else
{
    <hgroup>
        <h1>Not found</h1>
        <p>Platform with ID @Model.PlatformId not found.</p>
    </hgroup>

}
