@page "/Platforms/{statusId:int}/Edit"
@model Headlight.Pages.Statuses.EditModel
@{
    ViewData["Title"] = "Edit";
}

@if (Model.SelectedStatus != null)
{
    <form method="post">
        @if (!string.IsNullOrEmpty(Model.PageMessage))
        {
            <small class="@Model.PageMessageCssClass">@Model.PageMessage</small>
        }

        <div class="container">
            <label for="Name">Name</label>
            <input type="text" name="Name" id="Name" value="@Model.SelectedStatus.Name"/>
        </div>

        <button asp-page-handler="SaveChanges">Save</button>
        <button asp-page-handler="CancelChanges">Cancel</button>
    </form>
}
else
{
    <div class="container">
        <span>No platform found with id @Model.StatusId</span>
    </div>

    <div>
        <a asp-page="/Platforms/Index">Go back</a>
    </div>
}