@page
@using Headlight.Models
@model Headlight.Pages.Statuses.IndexModel
@{
    ViewData["Title"] = ViewData["PageTitle"] = "Statuses";
}

<link rel="stylesheet" href="~/css/Games/index.css">

<div class="games-page-topbar">
    <div class="games-searchbar-container container">
        <input type="search" name="searchInput" id="searchInput" placeholder="Find status..." />
    </div>
    <div class="games-add-game-container container">
        <form method="post">
            <button type="submit" asp-page-handler="AddStatus">Add Status</button>
        </form>
    </div>
</div>
<hr />
<div class="games-game-list">
    <table id="statuses-table" class="games-game-list" data-rowcount="@Model.AllStatuses.Count">
        @if (Model.AllStatuses.Count > 0)
        {
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Game Count</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (Status status in Model.AllStatuses)
                    {
                    string hrefTarget = Url.Page("/Statuses/View", new { StatusId = status.Id }) ?? "";
                    string countTarget = Url.Page("/Games/Index", new { StatusIdFilter = status.Id }) ?? "";
                    string deleteTarget = Url.Page("/Statuses/Delete", new { StatusId = status.Id }) ?? "";
                    <tr id="@status.Id">
                        <td>
                            <div onclick="location.href = '@hrefTarget'" style="cursor: pointer;">
                                @status.Name
                            </div>
                        </td>
                        <td>
                            <div onclick="location.href = '@countTarget'" style="cursor: pointer;">
                                @status.Games?.Count
                            </div>
                        </td>
                        <td>
                            @if (status.Id > 3)
                            {
                                <div class="games-delete-icon container" onclick="location.href='@deleteTarget'" style="cursor: pointer;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                </div>
                            }
                        </td>
                    </tr>
                    }
            </tbody>
        }
        else
        {
            <tbody>
                <tr><td>No rows to show.</td></tr>
            </tbody>
        }
    </table>
</div>

<script src="~/js/libs/typeahead.js"></script>
<script src="~/js/Statuses/index.js"></script>
