@page
@model Headlight.Pages.Statuses.IndexModel
@{
    ViewData["Title"] = ViewData["PageTitle"] = "Statuses";
}

<div class="table-page-topbar">
    <div class="container">
        <form role="search">
            <input type="search" name="SearchInput" id="SearchInput" placeholder="Find platform..." value="@Model.SearchInput" />
            <input type="submit" value="Search" asp-page-handler="Query" />
        </form>
    </div>
    <div class="table-page-add-container container">
        <form method="post">
            <button type="submit" asp-page-handler="AddStatus">Add Status</button>
        </form>
    </div>
</div>

@if (Model.MessageResult != null)
{
    <small class="@Model.PageMessageCssClass">@Model.Message</small>
}

<hr />
<div class="table-page-list">
    <partial name="_SearchableTablePartial" model="@Model.SearchableTableData" />
</div>
