@page
@model Headlight.Pages.Statuses.IndexModel
@{
    ViewData["Title"] = ViewData["PageTitle"] = "Statuses";
}

<div class="table-page-topbar">
    <div class="container">
        <input type="search" name="searchInput" id="searchInput" placeholder="Find status..." />
    </div>
    <div class="table-page-add-container container">
        <form method="post">
            <button type="submit" asp-page-handler="AddStatus">Add Status</button>
        </form>
    </div>
</div>
<hr />
<div class="table-page-list">
    <partial name="_SearchableTablePartial" model="@Model.SearchableTableData" />
</div>
