@page
@using Headlight.Models
@model Headlight.Pages.Games.IndexModel
@{
    ViewData["Title"] = ViewData["PageTitle"] = "Games";
}

<link rel="stylesheet" href="~/css/Games/index.css">

<div class="games-page-topbar">
    <div class="games-searchbar-container container">
        <input type="text" name="searchInput" id="searchInput" placeholder="Find game..." />
    </div>
    <div class="games-add-game-container container">
        <button>Add Game</button>
    </div>
</div>

<div class="games-game-list">
    <table class="games-game-list">
        @if (Model.AllGames.Count > 0)
        {
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Platform</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (Game game in Model.AllGames)
                    {
                        <tr>
                            <td>@game.Name</td>
                            <td>@game.Platform?.Name</td>
                        </tr>
                    }
            </tbody>
        }
        else
        {
            <tbody>
                <tr><td>No rows to show.</td></tr>
            </tbody>
        }
    </table>
</div>


