#searchable-table > thead {
    position: sticky;
    top: 0px;
}

.table-delete-icon > svg {
    stroke: var(--pico-del-color);
}

.clickable-header {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
