@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["PageTitle"] = "Headlight";
}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="UploadedFile" accept=".json" />
        <button type="submit">Upload</button>
    </form>
</div>
