@page
@model Headlight.Pages.Settings.DeleteAllModel
@{
    ViewData["Title"] = "Delete All";
}
<hgroup>
    <h1>Deleting ALL data</h1>
    <p>Are you sure you want to delete all data? This action is not reversible!</p>
</hgroup>
<hr />
<form method="post">
    <div class="container">
        <button asp-page-handler="ConfirmDelete">Delete</button>
        <button asp-page-handler="CancelChanges">Cancel</button>
    </div>
</form>
